.fit-content {
  width: fit-content;
  width: -moz-fit-content;
}

#audio-player {
  right: 0px;
  left: 0px;
  position: fixed;
  bottom: 0px;
  padding: 20px;
  font-family: 'JetBrains Mono', monospace;
}

audio::-webkit-media-controls-panel {
  background-color: #ff9f44af;
}